@media screen and (min-width:3000px) and (max-width:5000px) {
	
}
@media screen and (min-width:2100px) and (max-width:3000px) {
	
}
@media screen and (min-width:1600px) and (max-width:2100px) {
	
}
@media screen and (min-width:1451px) and (max-width:1600px) {
	
}
@media screen and (min-width:1366px) and (max-width:1450px) {
	
}

@media screen and (min-width:1280px) and (max-width:1365px) {
	
}
@media screen and (min-width:1124px) and (max-width:1279px) {
	.headInn .headerBtm{ margin-right:70px;}
	.headerBtm .headerMenu ul li{ margin-left:10px;}
	.headerBtm .headerMenu ul li a{ font-size:14px;}
	.headerBtm .headerMenu ul li ul li a{ font-size:12px;}
	.contWrap .mobBox{ width:200px;}
	.headerBtm .logoSec img{ top:0;}
	.headerBtm .logoSec{ width:95px;}
}

@media screen and (min-width:1024px) and (max-width:1123px) {
	.headInn .headerBtm{ margin-right:70px;}
	.headerBtm .headerMenu ul li{ margin-left:10px;}
	.headerBtm .headerMenu ul li a{ font-size:12px;}
	.headerBtm .headerMenu ul li ul li a{ font-size:10px;}
	.contWrap .mobBox{ width:100px;}
	.headerBtm .logoSec img{ top:0;}
	.headerBtm .logoSec{ width:95px;}
}

@media screen and (min-width:980px) and (max-width:1023px) {
	.headInn .headerBtm{ margin-right:70px;}
	.headerBtm .headerMenu ul li{ margin-left:10px;}
	.headerBtm .headerMenu ul li a{ font-size:12px;}
	.headerBtm .headerMenu ul li ul li a{ font-size:10px;}
	.contWrap .mobBox{ width:100px;}
	.headerBtm .logoSec img{ top:0;}
	.headerBtm .logoSec{ width:95px;}
}

@media screen and (min-width:768px) and (max-width:979px) {
	.mobMenu{ text-align:right;display:inline-block; float:right; margin-top:20px; position:relative; z-index:1;}
	.mobMenu img{}
	
	.headInn .headerTop{ text-align:center; margin-right:0;}
	.headInn .headerBtm{margin-right:0; position:relative;}
	.mainInner{ padding:0 10px;}
	.headerBtm .logoSec{ width:74px;}
	.headerBtm .logoSec img{ position:static;}
	.headerBtm .headerMenu{ display:none; position:absolute; top:45px; background:#fff; left:0; width:100%; z-index:1;}
	.headerBtm .headerMenu ul li:hover > ul{ position:static;}
	.headerBtm .headerMenu ul li{ display:block; margin:10px;}
	.headerBtm .headerMenu ul li ul li{ margin:0; padding:0px 10px;}
	.headerBtm .headerMenu ul li ul{ width:100%;}
	.contWrap{ width:100%;}
	.contWrap .contBox{ width:350px; padding:15px;}
	.contWrap .mobBox{ display:none;}
	.headInn{ padding:20px 0 20px 0px;}
}

@media screen and (min-width:640px) and (max-width:767px) {
	
}
@media screen and (min-width:580px) and (max-width:639px) {
	
}
@media screen and (min-width:480px) and (max-width:579px) {
	
}
@media screen and (min-width:425px) and (max-width:479px) {
	
}
@media screen and (min-width:375px) and (max-width:424px) {
	
}
@media screen and (min-width:360px) and (max-width:374px) {
}

@media screen and (min-width:320px) and (max-width:359px) {
	
	.mobMenu{ text-align:right;display:inline-block; float:right; margin-top:20px; position:relative; z-index:1;}
	.mobMenu img{}
}

@media screen and (max-width:740px) {
	.mobMenu{ text-align:right;display:inline-block; float:right; margin-top:20px; position:relative; z-index:1;}
	.mobMenu img{}
	
	.headInn .headerTop{ text-align:center; margin-right:0;}
	.headInn .headerBtm{margin-right:0; position:relative;}
	.mainInner{ padding:0 10px;}
	.headerBtm .logoSec{ width:74px;}
	.headerBtm .logoSec img{ position:static;}
	.headerBtm .headerMenu{ display:none; position:absolute; top:45px; background:#fff; left:0; width:100%; z-index:1;}
	.headerBtm .headerMenu ul li:hover > ul{ position:static;}
	.headerBtm .headerMenu ul li{ display:block; margin:10px;}
	.headerBtm .headerMenu ul li ul li{ margin:0; padding:0px 10px;}
	.headerBtm .headerMenu ul li ul{ width:100%;}
	.contWrap{ width:100%;}
	.contWrap .contBox{ display:block; width:100%; padding:15px; margin:10px 0;}
	.contWrap .mobBox{ display:none;}
	.btnSec{ position:static; text-align:center;}
	.headInn{ padding:20px 0 20px 0px;}
}

